# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

*.egg-info/

# Data & Models
data/*.csv
data/*.parquet
models/*.pkl
models/*.joblib
mlruns/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# IDE
.vscode/
.idea/
# Feast Practical 5
practical5_feast/.venv-feast/
practical5_feast/iris_feature_repo/feature_repo/data/*.db
